# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
uenv/
# Django secret key file (if stored separately)
.env

# Local development settings
settings_local.py

# Database
db.sqlite3
*.sqlite3

# Media / Uploaded files
media/
*.log

# Static files
staticfiles/
static/

# IDE / Editor files
.vscode/
.idea/
*.iml

# macOS / Linux
.DS_Store
*.swp
